body{
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 1.6rem;
}

.container{
	width: 1024px;
	margin: 0 auto;
}
header{
	position: relative;
}
.img_1{
	float: right;
	position: absolute;
	top: 2px;
	right: 3px;
}
#text_1{
	width: 500px;
}

